{
  "env": {
    "node": true
  },
  "plugins": ["prettier", "unicorn"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "no-console": [0]
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true
  }
}
